
html, body{
    height: 100%;
    margin: 0;
}

body{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-bottom: 60px
}

.toolbar{
    display: flex;
    flex-direction: column;
    background-color: beige;
    border: 5px solid aqua;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    align-items: center;
    justify-content: center;
    
}

.toolButton{
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    width: 150px;
    margin: 14px;
}

#container{
    display: flex;
    background-color: white;
    width: 800px;
    height: 800px;
    border: 5px solid aqua;
    border-radius: 5px;
}

.tileColumn{
    display: flex;
    flex: auto;
    flex-direction: column;    
}

.tileRow{
    flex: auto;
    min-width: 1px;
    min-height: 1px;
}

.colorBlack{
    background-color:black;
}

.colorRandom{
    background-color: rgba(red, green, blue, alpha);
}